{% extends "/html/base.html" %}
{% block content %}
<article class="post">
    {% include "/html/post-content.html" %}
    
    {% if disqus? %}
    <div class="post-comments">
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//{{disqus-shortname}}.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}

    <nav class="post-navigation">
        {% if post.prev %}
        <a href="{{post.prev.uri}}" class="nav-prev">
            <span class="nav-label">&laquo; Previous</span>
            <span class="nav-title">{{post.prev.title}}</span>
        </a>
        {% endif %}
        {% if post.next %}
        <a href="{{post.next.uri}}" class="nav-next">
            <span class="nav-label">Next &raquo;</span>
            <span class="nav-title">{{post.next.title}}</span>
        </a>
        {% endif %}
    </nav>
</article>
{% endblock %}